@import url("includes/navigation.css");

/* Default customize styles */

.margin-top-10 {
    margin-top: 10px;
}



/* Header Customize */

.web_name {
    display: block;
    text-align: center;
    padding: 10px;
}

.web_name h4 {
    text-transform: uppercase;
    line-height: 8px;
}

.web_name p {
    color: #bcbcbc;
}

/* Chat Customize styles */

.message-box {
    background-color: #f7f7f7;
    padding: 8px;
    color: #1f1f1f;
    border-radius: 8px;
    margin-bottom: 5px;
}

.message-box .chat-user-name {
    font-weight: bold;
}

.message-box .chat-user-message {
    text-wrap: normal;
    text-align: left;
    font-size: 12px;
}

.message-box dt img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.share-message-box {
    background: #f7f7f7;
    padding: 8px;
    border-radius: 8px;
    color: #1f1f1f;
}

.share-message-box #message {
    width: 100%;
}

